@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: #ffc107;
}

header{
    background-color: rgba(255, 255, 255, 0.973);
}
.navbar-brand img{
    width: 100px;
    height: 80px;
}
h1{
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 80px;
}

.navbar-brand

h5{
    color: #ec0808;
}

.chill{
    color: #c06922;
}
h1{
    color: #ff0e06;
}
.infinity{
    color: #363958;
}

.btn{
    background: linear-gradient(180deg, #a8df42 0%, #76eb28 100%);
}

.card img{
    background-color: #574444;
    border-radius: 10px;
}
.price{
    color: #000;
}

.title{
    color: #363958;
    font-size: 48px;
    font-weight: bold;
}

.feature{
    border-radius: 20px;
}
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
footer .container .noi-dung{
    margin-right: 30px;
}
footer  .container .noi-dung.about{
    width:40%;
}
footer .container .noi-dung.about h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .container .noi-dung.about h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
footer .container .noi-dung.about p{
    color: #999;
}
/*Thiết Lập Cho Thành Phần Icon Mạng Xã Hội*/
.social-icon{
    margin-top: 20px;
    display: flex;
}
.social-icon li {
    list-style: none;
}
.social-icon li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}
.social-icon li a:hover{
    background: #f00;
}
.social-icon li a .fa{
    color: #fff;
    font-size: 20px;
}
.links h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.links h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.links h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
.links{
   position: relative;
   width: 25%;
}
.links ul li{
    list-style: none;
}
.links ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.links ul li a:hover{
    color: #fff;
}
.contact h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.contact h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contact .info{
    position: relative;
}
.contact .info li{
    display: flex;
    margin-bottom: 16px;
}
.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span{
    color: #999;
}
.contact .info li a{
    color: #999;
    text-decoration: none;
}
.form__field {
    width: 100%;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 0;
    outline: 0;
    padding: 8px 4px;
}
@media  (max-width: 768px){
    footer{
        padding: 40px;
             }
    footer .container{
        flex-direction: column;
    }
    footer .container .noi-dung{
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container, .noi-dung.about, .links, .contact{
        width: 100%;
    }
}


@media only screen and (max-width: 688px){
    h1{
        font-size: 60px;
        line-height: 60px;
    }
    .title{
        font-size: 36px;
    }

    .navbar-brand img{
        width: 80px;
        height: 40px;
        margin-top: 10px;
    }
}